<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jokes</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="flex min-h-screen bg-gray-500">

        <input type="checkbox" id="sidebar-toggle" class="hidden" />

        <aside class="sidebar w-24">
            <div class="h-16 bg-velblue">

            </div>
            <div class="">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </aside>

        <div class="flex flex-col grow">
            <header class="w-full h-16 bg-white">
                <label htmlFor="sidebar-toggle" class="cursor-pointer">
                    Toggle Sidebar
                </label>
                    <div class="justify-start w-1/2">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Jokes</a>
                        <div class="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
            </header>
            
            <div class="">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
             <footer class="">
            <div class="">
                &copy; 2024 - Jokes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
